.buyContainer {
  margin: 0 auto;
  margin-top: 30px;
  width: 500px;
  border: 1px solid rgb(42, 55, 148);
  border-radius: 5px;
}

.input {
  position: relative;
  margin: 40px;
  height: 60px;
}

.submitButton {
  position: absolute;
  right: 0;
  bottom: 0;
}

.errorMessage {
  position: absolute;
  right: 0;
  color: rgb(242, 58, 47);
}

.submitMessage {
  position: absolute;
  right: 0;
  color: rgb(42, 55, 148);
}
